
$bg-ebony: #2B303B;
$bg-ebony-clay: #2F323C;

$bg-white: #FFFFFF;
$bg-white-matte-8: rgba(255, 255, 255, .8);
$bg-white-matte-87: rgba(255, 255, 255, .87);
$bg-white-matte-6: rgba(255, 255, 255, .6);
$bg-white-matte-4: rgba(255, 255, 255, .4);
$bg-white-matte-07: rgba(255, 255, 255, .07);
$bg-white-matte-05: rgba(255, 255, 255, .05);
$bg-transparent: rgba(255, 255, 255, 0);
$bg-black-matte-7: rgba(0, 0, 0, .7);

$bg-dark-gray: #767676;
$bg-light-gray: #E4E1E1;
