<div id="quickview"
     class="quickview-wrapper"
     pg-quickview
     ng-controller="DashboardCtrl as vm">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#quickview-chat"
            data-toggle="tab"
            pg-tab
            tabindex="-1">Configuration</a>
        </li>
    </ul>
    <button
       class="btn-link quickview-toggle"
       data-toggle-element="#quickview"
       data-toggle="quickview"
       ng-click="setIndexes()"
       aria-label="click here to close configuration"
       id="quickview-close"
       tabindex="-1">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div class="tab-content">

        <div class="tab-pane fade in active no-padding" id="quickview-chat">
          <div class="view-port clearfix">
            <div class="view bg-white p-t-10 p-b-10 p-r-20 p-l-20">

              <label for="limit-slider">Max number of result<br>
                to be returned: <strong>{{vm.limit}}</strong>
              </label>

              <div layout>
                <md-slider flex class="md-primary"
                           md-discrete
                           ng-model="vm.limit"
                           step="1"
                           min="1"
                           max="50"
                           aria-valuemin="1"
                           aria-valuemax="50"
                           aria-valuenow="{{vm.limit}}"
                           aria-label="Max number of result to be returned"
                           aria-labelledby="limit-slider"
                           aria-orientation="horizontal"
                           aria-valuetext=""
                           tabindex="-1"
                           role="slider"
                           id="limit-slider">
                </md-slider>
              </div>

              <div class="row">
                <md-checkbox ng-model="vm.automactly"
                             ng-change="vm.auto()"
                             aria-label="Once You sele a Page Would you like to listen it Automactly"
                             class="md-primary"
                             id="quickview-automactly"
                             tabindex="-1">
                             Once you select a page would you like to listen it automactly ?
                </md-checkbox>
              </div>

              <div class="row">
                <md-checkbox ng-model="vm.offline"
                             aria-label="Would you like to have an offline experience?"
                             class="md-primary"
                             id="offline"
                             tabindex="-1">Offline Experience?
                </md-checkbox>
              </div>

              <div class="row">
                <input type="text"
                       class="form-control"
                       ng-model="vm.code"
                       tabindex="-1"
                       maxlength="4"
                       placeholder="4 digits only"
                       aria-label="Enter your code for access offline"
                       ng-disabled="!vm.offline">
              </div>

              <div class="row p-t-30 text-center">
                <button type="button"
                        class="btn btn-default"
                        tabindex="-1"
                        ng-click="vm.saveCode()"
                        data-toggle-element="#quickview"
                        data-toggle="quickview"
                        aria-label="Click here to save code">SAVE
                </button>
              </div>

            </div>
          </div>
        </div>
    </div>
</div>
