<div id="quickview" class="quickview-wrapper" pg-quickview ng-controller="DashboardCtrl as vm">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#quickview-chat" data-toggle="tab" pg-tab>Configuration</a>
        </li>
    </ul>
    <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <div class="tab-content">

        <div class="tab-pane fade in active no-padding" id="quickview-chat">
          <div class="view-port clearfix" >
            <div class="view bg-white p-t-10 p-b-10 p-r-20 p-l-20">

              <span>Max number of result</span><br>
              <span>to be returned: <strong>{{vm.limit}}</strong></span>

              <div layout>
                <md-slider flex class="md-primary"
                           md-discrete
                           ng-model="vm.limit"
                           step="1"
                           min="1"
                           max="50"
                           aria-valuemin="1"
                           aria-valuemax="50"
                           aria-valuenow="{{vm.limit}}"
                           aria-label="Max number of result to be returned"
                           tabindex="-1">
                </md-slider>
              </div>

              <span>Once you select a page would you</span><br>
              <span class="m-r-10">like to listen it automactly</span>
              <md-checkbox ng-model="vm.automactly" ng-change="vm.auto()" aria-label="Once You sele a Page Would you like to listen it Automactly" class="md-primary">

              </md-checkbox>
            </div>
          </div>
        </div>
    </div>
</div>
