fck-cards{
  .thumbnail-wrapper.d64 {
      width: 64px;
      height: 64px;
  }

  .face-card-label {
  	width: 181px;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
  	font-size: 16px;
  }

  .modal-full {
    margin: 0;
    width: 100%;
  }

  .modal.fade.fill-in .modal-content {
    vertical-align: top;
  }

  md-card md-card-content .md-media-xl {
    height: 300px;
    width: 300px;
    max-width: 300px;
    max-height: 300px;
  }

  .img-responsive {
     max-height: 300px;
     max-width: 300px;
  }

  .btn-default:focus, .btn-default:focus {
    background-color: #f0f0f0;
    border-color: #e6e6e6;
    color: #2c2c2c;
  }
}
