<div class="row">
  <form role="form">
    <div class="form-group btn-group col-xs-12 col-md-4 col-md-offset-4">
      <div class="col-xs-12">
        <label>Type in a facebook page name and press enter</label>
        <div class="col-xs-10">

          <input type="text"
                 class="form-control"
                 ng-keypress="vm.search($event)"
                 ng-model="vm.word"
                 tabindex="0"
                 aria-label="Type in a facebook page name and press enter"
                 autofocus>
        </div>
        <div class="col-xs-2 p-l-0">
          <button type="button"
                  class="btn btn-default"
                  data-toggle="quickview"
                  data-toggle-element="#quickview"
                  tabindex="0"
                  aria-label="Click here to open configurations">
                  <i class="fa fa-cog" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding: 0;"
     ng-repeat="page in vm.target | orderBy: 'fan_count':true"
     ng-if="page.cover">

  <md-card md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline face-card-label">{{page.name}}</span>
        <span class="md-subhead">{{page.fan_count | number}}
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="thumbnail-wrapper d64 circular">
          <img width="40"
               height="40"
               ng-src="{{page.picture}}"
               alt="{{page.name}} Picture"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.spy(page)">Spy</md-button>
      <md-button ng-click="vm.hack(page)">Hack</md-button>
      <!-- <md-button>More</md-button> -->
    </md-card-actions>
  </md-card>

</div>

<div class="modal fade fill-in"
     id="modalInfo"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true">
        X
    </button>
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in vm.info">
                <md-card md-theme="default" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-subhead">
                        <i class="fa fa-comment-o col-xs-4" aria-hidden="true">
                          {{item.comments.summary.total_count  | number}}
                        </i>

                        <i class="fa fa-heart-o col-xs-4 text-center" aria-hidden="true">
                          {{item.likes.summary.total_count | number}}
                        </i>
                        <div class="col-xs-4">
                          <i class="fa fa-share pull-right" aria-hidden="true">
                            {{item.shares.count  | number}}
                          </i>
                        </div>
                      </span>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content layout="row" layout-align="space-between">
                    <div class="md-media-xl card-media center-block">
                      <img class="img-responsive"
                           ng-src="{{item.full_picture}}"
                           alt="{{item.message}}"/>
                    </div>
                  </md-card-content>
                </md-card>
              </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
