<div class="col-xs-12 -col-sm-12 col-md-12 contents">
    <md-toolbar class="content-table-header md-default bk-trans">
      <div class="md-toolbar-tools">
        <span class="m-r-20">Database</span>
      </div>
    </md-toolbar>

    <md-table-container>
      <table data-md-table md-progress="vm.promise">
        <thead md-head data-md-order="vm.query.order"
               md-on-reorder="vm.onReorder">
          <tr md-row>
            <th md-column><span>Page</span></th>
            <th md-column><span>Type</span></th>
            <th md-column><span>Likes</span></th>
            <th md-column><span>Shares</span></th>
            <th md-column><span>Comments</span></th>
            <th md-column><span>Date</span></th>
            <th md-column colspan="3"><span>Action</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="post in vm.database"
              tabindex="0"
              aria-label="content">
            <td md-cell
                tabindex="0"
                aria-label="{{post.data.page.name}}">
              {{post.data.page.name}}
            </td>
            <td md-cell
                tabindex="0"
                aria-label="type {{post.data.type}}">
              <i class="fa fa-film"
                 aria-hidden="true"
                 ng-if="post.data.type === 'video'"></i>
              <i class="fa fa-link"
                 aria-hidden="true"
                 ng-if="post.data.type === 'link'"></i>
              <i class="fa fa-picture-o"
                 aria-hidden="true"
                 ng-if="post.data.type === 'photo'"></i>
            </td>
            <td md-cell
                tabindex="0"
                aria-label="{{post.data.likes}} likes">
                {{post.data.likes}}
            </td>
            <td md-cell
                tabindex="0"
                aria-label="{{post.data.shares}} shares">
                {{post.data.shares}}
            </td>
            <td md-cell
                tabindex="0"
                aria-label="{{post.data.comments}} comments">
                {{post.data.comments}}
            </td>
            <td md-cell class="td-p-r-0"
                tabindex="0"
                aria-label="created in {{post.data.created_time | date : 'dd MMM yy'}}">
              <span>{{post.data.created_time | date : 'dd MMM yy'}}</span>
            </td>
            <td md-cell class="td-p-r-0">
              <button type="button"
                      class="btn btn-complete tip btn-xs"
                      data-toggle="tooltip"
                      data-original-title="See content"
                      ui-jq="tooltip"
                      ng-click="vm.see(post)"
                      tabindex="0"
                      aria-label="see content">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </td>
            <td md-cell class="td-p-r-0">
              <button type="button"
                      class="btn btn-complete tip btn-xs"
                      data-toggle="tooltip"
                      data-original-title="Refresh"
                      ui-jq="tooltip"
                      ng-click="vm.refresh(post)"
                      tabindex="0"
                      aria-label="refresh">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </md-table-container>
</div>

<div class="modal fade slide-up disable-scroll"
     id="modalContent"
     tabindex="-1"
     role="dialog"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                      X
                    </button>
                    <div class="content-see col-xs-12">
                      <div class="thumbnail-wrapper d64 circular">
                        <img width="40"
                             height="40"
                             tabindex="-1"
                             ng-src="{{vm.selected.page.picture}}"
                             alt="{{page.name}} Picture"/>
                      </div>
                      <div class="col-xs-8">
                        <h5>{{vm.selected.page.name}}</h5>
                        <span class="sub-title">
                          {{vm.selected.page.fan_count | number}}
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </span>
                      </div>

                    </div>
                </div>
                <div class="modal-body content-body">
                  <div>
                    <p>{{vm.selected.message}}</p>
                    <img ng-src="{{vm.selected.full_picture}}"
                         alt="Image of content"
                         class="img-responsive"
                         tabindex="0"
                         aria-label="{{vm.selected.full_picture}}"/>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
