<div class="col-xs-12 -col-sm-12 col-md-4 contents">
  <md-toolbar class="content-table-header md-default bk-trans">
    <div class="md-toolbar-tools">
      <span class="m-r-20">Pages Pool</span>
    </div>
  </md-toolbar>

  <md-table-container>
    <table data-md-table md-progress="vm.promise">
      <thead md-head data-md-order="vm.query.order"
             md-on-reorder="vm.onReorder">
        <tr md-row>
          <th md-column><span>Pages</span></th>
          <th md-column><span>Actions</span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row data-ng-repeat="page in vm.pages"
                   ng-class="{'face-row': page.isPaused}"
                   md-autofocus
                   tabindex="0"
                   aria-label="Page {{page.name}}">
          <td md-cell>
            <div>
              <div class="thumbnail-wrapper d32 circular">
                <img width="40"
                     height="40"
                     ng-src="{{page.picture}}"
                     alt="{{page.name}} Picture"/>
              </div>
              <div class="col-xs-9">
                <span class="title"><strong>{{page.name}}</strong></span><br>
                <span class="sub-title">{{page.fan_count | number}}
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </td>

          <td md-cell>
            <button type="button"
                    class="btn btn-complete btn-xs"
                    ng-click="vm.resume(page)"
                    tabindex="0"
                    aria-label="{{vm.state}}">
              <i class="fa fa-play"
                 aria-hidden="true"
                 ng-hide="page.isPaused"></i>
              <i class="fa fa-pause"
                 aria-hidden="true"
                 ng-hide="!page.isPaused"></i>
            </button>
            <button type="button"
                    class="btn btn-complete tip btn-xs"
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    ui-jq="tooltip"
                    tabindex="0"
                    aria-label="delete page"
                    ng-click="vm.remove(page)"
                    ng-hide="page.isPaused">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
